.signup-form{
  line-height: 1.6;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
}
.error-message {
  color: #f00;
}
.password-requirements {
  margin-top: 5px;
}
.alert-success {
  text-align: center;
  background-color: #e6ffe6;
  color: green;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.alert-error {
  text-align: center;
  background-color: #ffe6e6;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.password-group {
  position: relative;
}
.password-group input[type="password"] {
  padding-right: 40px;
}
.password-group #toggle_password {
  position: absolute;
  right: 10px;
  top: 37%;
  cursor: pointer;
  color: #007bff;
}
.password-group #toggle_password:hover {
  color: #0056b3;
}